
services:

  db:
    image: postgres:16-alpine ## Mais leve
    restart: always
    container_name: pipeline_eng_salary
    #user: postgres_pipeline  ## Usuário local do Sistema, não obrigatório
    secrets:
      - db-password
    volumes:
      #- db-data:/var/lib/postgresql/data ## [NO SISTEMA LOCAL (INVISÍVEL) : NO CONTAINER] (Comentado para evitar persistencia dos dados)
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql ## Mapeia o arquivo init do sql ao container
    environment:
      - POSTGRES_DB=example
      - POSTGRES_USER=postgres_pipeline  ## Variável de ambiente, blank = postgres
      - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
# volumes: ## Comentado para evitar persistencia dos dados
#   db-data:
secrets:
  db-password:
    file: db/password.txt

## Para rodar: docker compose up -d
## -d = detached
## Checking: Docker compose ps